@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-box-body {
  display: flex;
  width: 100%;
}

.left-main {
  width: 20%;
}

.top-heading h1 {
  font-family: "Abril Fatface", cursive;
  /*     background-color: blue; */
  padding-left: 40px;
}

.side-nav {
  padding-left: 0px;
}

ul li {
  text-decoration: none;
  list-style-type: none;
  margin: 40px 0px 0px 0px;
  cursor: pointer;
  /*   background-color: blue; */
  width: 25%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #8e8e93;
}

ul li:hover {
  /*   color: #8e8e93; */
  text-decoration: line-through 2px solid #ff4d4d;
}

.cart-button {
  padding: 14px 40px 14px 40px;
  border-radius: 25px;
  border: none;
  background-color: #ff4d4d;
  color: white;
  cursor: pointer;
  margin: 50px;
}

.cart-button:hover {
  background-color: #ff3333;
}

.cart-button:focus {
  outline: none;
}

.main-body-container {
  /*   background-color: blue; */
}

.main-text-container {
  display: flex;
  margin-top: 30px;
  padding-left: 60px;
}

.main-text-container h1 {
  font-size: 80px;
  font-family: "Abril Fatface", cursive;
  /*   flex: 1; */
  /*   background-color: blue; */
  /*   width: 200px */
}

.main-text-container p {
  /*   flex: 0.5; */
  display: flex;
  align-items: flex-start;
  height: max-content;
  font-size: 16px;
  /*   background-color: blue; */
  width: 22%;
  margin-top: 60px;
  margin-left: 100px;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  color: #8e8e93;
  transition: transform 250ms ease-in-out;
  flex-direction: column;
}

.main-text-container p:after {
  display: block;
  content: "";
  border-bottom: solid 2px #ff4d4d;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  width: 60px;
}

p.desc-text:hover:after {
  transform-origin: 0% 50%;
  transform-origin: 50% 100%;
  transform: scaleX(1);
}

p.desc-text:hover {
  /*   border-bottom: solid 2px #ff4d4d; */
}

.recipie-cards-container {
  display: flex;
  padding-left: 60px;
  overflow-x: scroll;
  width: 1070px;
  height: 300px;
  padding-top: 20px;
  /*     background-color: blue; */
}

.recipie-cards-container::-webkit-scrollbar {
  display: none;
}

.card {
  height: 240px;
  width: 220px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;
  margin-right: 18px;
  transition: all 0.15s ease;
}

.card:hover {
  transform: scale(1.01);
  z-index: 10;
  cursor: pointer;
  box-shadow: 10px 10px 20px 2px rgba(37, 17, 17, 0.29);
}

.card img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: 20px;
  padding: 0 30px 0 30px;
}

.card p {
  padding-top: 7px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

@media only screen and (max-width: 414px) {
  body {
    width: 100vw;
  }

  .flex-box-mobile-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .flex-box-mobile-nav .burger-menu {
    margin-left: 20px;
  }

  .flex-box-mobile-nav h1 {
    padding: 0;
    margin: 0;
  }

  .flex-box-mobile-nav i {
    font-size: 24px;
  }

  .cart-mobile {
    margin-right: 20px;
  }

  .top-heading h1 {
    font-family: "Abril Fatface", cursive;
    display: none;
    /*     background-color: blue; */

    width: 100%;
  }

  .side-nav {
    position: relative;
  }

  #side-nav-list {
    background-color: #ebebf0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    z-index: 12;
    display: none;
    /*     align-items:center; */
  }

  ul li {
    text-decoration: none;
    list-style-type: none;
    margin: 8px 0px 8px 0px;
    cursor: pointer;
    padding-left: 20px;
    /*   background-color: blue; */
    width: 25%;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #8e8e93;
  }

  .main-text-container h1 {
    font-size: 30px;
  }

  .main-text-container p {
    display: none;
  }

  button {
    display: none;
  }

  .recipie-cards-container {
    display: none;
  }

  .mobile-cards-container {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    height: 150px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .mobile-cards-container:nth-child(3) {
    margin-top: 20px;
  }

  .mobile-cards-container:nth-child(4) {
    margin-top: 20px;
  }

  .last-child {
    display: none;
  }

  .card img {
    height: 80px;
    width: 80px;
  }

  .card p {
    font-size: 12.5px;
  }
}
